.App {
  text-align: center;
}

div {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.loadingbox {
  display: block;
  padding-top: 300px;
  padding-left: 200px;
  margin: auto;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.productInfo > ul > li {
  list-style-type: none;
}
