.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.loadingbox {
  display: block;
  padding-top: 200px;
  padding-left: 200px;
  margin: auto;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.loadingLogo{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.resultPage{
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
}

.searchbox{
  margin-top: 15%;
  margin-left: 30%;
  display: grid;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.productInfo > ul > li {
  list-style-type: none;
}
